#### Using pandas to import the webpage

In [ ]:
import pandas as pd
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

#### Check how many tables were imported

In [46]:
len(dfs)

3

#### Check what is in the first table

In [4]:
dfs[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Great this first table is what's needed!
#### Next assign the first table to a new df

In [72]:
df=dfs[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Remove rows with Boroughs that are marked as "Not Assigned"

In [73]:
df = df.set_index("Borough")
df = df.drop('Not assigned', axis=0)
df = df.reset_index()
df.head()

            Borough Postcode     Neighbourhood
0        North York      M3A         Parkwoods
1        North York      M4A  Victoria Village
2  Downtown Toronto      M5A      Harbourfront
3  Downtown Toronto      M5A       Regent Park
4        North York      M6A  Lawrence Heights

#### Reformat the df to the required order in terms of column positioning

In [74]:
df = df.set_index("Postcode")
df = df.reset_index()
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

#### Check the number of rows in the df for use in the next step

In [75]:
df.shape

(211, 3)

#### Use While loop and if statements to:
##### 1. Assign Borough to Neighbourhood where Neighbourhood as marked as "Not Assigned"
##### 2. Combine the Neighbourhood for the same Postcode and drop additional rows with same Postcode

In [76]:
r=0
trow = 210
while r < trow:
    if df.iloc[r,2] == 'Not assigned':
        df.iloc[r,2] = df.iloc[r,1]
    if df.iloc[r,0] == df.iloc [r+1,0]:
        df.iloc[r,2] = df.iloc[r,2] + ", " + df.iloc[r+1,2]
        df = df.drop([r+1], axis=0)
        df = df.reset_index(drop=True)
        trow = trow - 1
        r = r - 1
    r = r + 1
df.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park
5      M9A         Etobicoke                  Islington Avenue
6      M1B       Scarborough                    Rouge, Malvern
7      M3B        North York                   Don Mills North
8      M4B         East York   Woodbine Gardens, Parkview Hill
9      M5B  Downtown Toronto          Ryerson, Garden District

#### Finally, print the shape of the processed df

In [77]:
df.shape

(103, 3)